@font-face {
  font-family: 'Caslon Italian Web';
  src: url('./fonts/CaslonItalian-Roman-Web.woff2') format('woff2'),
       url('./fonts/CaslonItalian-Roman-Web.woff') format('woff');
  font-weight:  400;
  font-style:   normal;
  font-stretch: normal;
}


:root {
  --green: #477258;  /* PANTONE  349 U */
  --orange:#FF6C2F;  /* PANTONE 021U */
  --light: #ffffff;
  --dark: #111111;
}

body {
  font-family: 'monotype-grotesque',sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 14px;
  color: var(--light);
}

h1 {
  font-weight: 700;
  font-size: 4em;
  line-height: 1;
}

p {
  font-weight: 700;
  font-size: 2em;
  line-height: 1.2;
}

header {
  padding: 42px 16px;
  text-align: center;
  overflow: hidden;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

#logo {
  transition: 0.3s;
  /* padding-top:32px; */
}

.shopify-buy__cart-toggle {
  position:fixed;
  top: 42px;
  right: 4em;

  background-color: var(--orange);
  width:60px;
  height: 60px;
  border-radius: 50%;
}

.shopify-buy__cart-toggle:hover {
  box-shadow: 0 8px 8px 0 rgba(0,0,0,0.1), 0 17px 50px 0 rgba(0,0,0,0.1);
}

.shopify-buy__cart-toggle__count:hover {
  cursor: pointer;
}

.shopify-buy__cart-toggle__count{
  text-align:center;
  font-family: 'Caslon Italian Web';
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  font-size: 3.5em;
  color: var(--bright);
}

/* the title should not be displayed as set in the js but it does */
.shopify-buy--visually-hidden{
  display:none;
}

/* doesn't really work because white bar is left at the bottom of the footer*/
svg.shopify-buy__icon-cart.shopify-buy__icon-cart--side {
    display: none;
}

.cart_counter h1{
  /* margin-top:4px; */
  font-family: 'Caslon Italian Web';
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  font-size: 3em;
  color: var(--bright);
}



 section {
    /* border-radius: 20px;
    margin: 24px 40px 0 40px; */
  }

.title {
  font-family: 'Caslon Italian Web';
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  font-size: 4em;
  color: var(--green);
  text-align: center;
}

.slide {
  background-size: cover;
  height: 99vh;
  padding-top: 35vh;
	background-position: center;
}

.slide div {
  max-width: 620px;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
}

.slide h1 {
    line-height:1.1;
}

/* .slide h1 span {
  background-color: rgba(216, 50, 50, 0.8);
  color: #fafafa;
  border-radius: 25px;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  padding: 0 5px 0 5px;
} */


/* #hero-text{
  display: none;
} */

.slide p {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}


.shop {
  overflow: hidden;
  padding-bottom:48px;
}

.shop-description{
  max-width: 620px;
  margin: auto;
  padding-top:24px;
  text-align: center;
  color: var(--green);
}

.shop-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.shopify-buy-frame--product {
    width: 250px;
}


.shop img {
    max-width: 250px;
}

.product {
  width: 50%;
  float: left;
  text-align: center;
  /* padding: 50px 20px 40px 20px; */
}

.shop h2{
  font-family: 'Caslon Italian Web';
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  font-size: 12em;
  color: var(--orange);
}

/* .shop img {
  max-width: 230px;
} */

.shopify-buy__btn {
  background-color: var(--green);
  color: white;
  max-width: 300px;
  width:100%;
  border: none;
  border-radius: 10px;
  font-family: 'monotype-grotesque',sans-serif;
  font-weight: 700;
  font-size: 32px;
  padding: 12px;
  margin-left: 10px;
}

.shopify-buy__btn:hover {
  box-shadow: 0 8px 8px 0 rgba(0,0,0,0.1), 0 17px 50px 0 rgba(0,0,0,0.1);
}


.shopify-buy__cart{
  background-color:red;
}


.about {
  /* height:60vh; */
  padding:40px;
  background-color: var(--orange);
  color:white;
}

.info {
  padding:60px;
  background-color: var(--bright);
  color: var(--green);
  column-count: 2;
  column-gap: 40px;
}


/* .logos {
  background-color: #EEAE9F;
  padding: 20px 20px 35px 20px;
  text-align: center;
}

.logos p {
  color: #fff;
  font-weight: 700;
  margin-bottom: 10px;
}

.logos img {
  margin-left: 22px;
  margin-right: 22px;
} */

footer {
  background-color: var(--green);
  padding: 60px;
  display: flex;
  justify-content:space-between;
}

footer h2 {
  font-size: 24px;
  color: var(--bright);
  font-weight: 900;
}

footer p {
  font-size: 16px;
  color: var(--bright);
  font-weight: 700;
}



/* MEDIA */
@media (max-width:992px){
  .product{
    width:100%;
    padding-left: 15px !important;
    padding-right: 15px;
  }
}


@media (max-width: 600px) {

  .info p{
    font-size: 1em;
  }

  .info{
    column-count: 1;
    padding:20px;
  }

  .about p {
    font-size: 1em;
  }

  .about{
    padding:20px;
  }

  .shop h2 {
      font-size: 8em;
    }
  .shop img {
      max-width: 150px;
  }

  .shopify-buy__btn{
    font-size:18px;
  }

  .shop div{
      padding:0;
    }

  /* .hero h2 {
    font-size: 32px;
    margin-bottom: 5px;
  }

  .hero {
    padding-top: 80px;
    padding-bottom: 80px;
  } */


  /* .shop div {
   	float: none;
    width: auto;
    padding: 30px 30px 40px 30px;
	} */

  .shop p {
    display: none;
  }

}

@media (max-width: 430px) {

  footer {
    padding: 30px 20px;
  }

  .shop h2 {
      font-size: 6.5em;
  }
.shopify-buy__btn{
    padding:10px;
    width:150px;
  }

}

@media (min-width: 600px) {
  .shop {
 		/* display: flex;
  	flex-wrap: wrap; */
  }
}
