@font-face {
  font-family: 'Caslon Italian Web';
  src: url('./fonts/CaslonItalian-Roman-Web.woff2') format('woff2'),
       url('./fonts/CaslonItalian-Roman-Web.woff') format('woff');
  font-weight:  400;
  font-style:   normal;
  font-stretch: normal;
}


body {
  font-family: 'monotype-grotesque',sans-serif;
  font-weight: 700;
  font-style: normal;

  font-size: 16px;
  line-height: 1.5;
  color: #fafafa;
}

header {
  padding: 32px 16px;
  text-align: center;
  overflow: hidden;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}



.hero {
  background-size: cover;
  height: 99vh;
  padding-top: 40vh;
  /* padding-bottom: 250px; */
	background-position: center;
}

.hero div {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
}

.hero h1 {
  font-family: 'monotype-grotesque',sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 48px;
  line-height: 0.9;
  margin-bottom: 15px;
}

.hero p {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}


.shop {
  overflow: hidden;
}

.product {
  width: 50%;
  float: left;
  text-align: center;
  /* padding: 50px 20px 40px 20px; */
}

.shop h2{
  font-family: 'Caslon Italian Web';
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  font-size: 9em;
  color: #FF6026;
}

.shop img {
  max-width: 250px;
}

.shopify-buy__btn {
  background-color: #377156;
  color: white;
  max-width: 300px;
  width:100%;
  border: none;
  border-radius: 5px;
  padding:8px
}



.about {
  padding:60px;
  background-color: #FF6026;
  color:white;
}

.chair {
	/* here we override the background image, position and padding from
  our .hero class above (which is also on the element) */
  background-image: url(full-bleed.jpg);
  background-position: center bottom;
  padding: 0;
  height: 500px;
}

.logos {
  background-color: #EEAE9F;
  padding: 20px 20px 35px 20px;
  text-align: center;
}

.logos p {
  color: #fff;
  font-weight: 700;
  margin-bottom: 10px;
}

.logos img {
	/* we apply our margins equally on both the left and the right */
  margin-left: 22px;
  margin-right: 22px;
}

footer {
  background-color: #47353A;
  padding: 25px 30px;
  overflow: hidden;
}

footer img {
  float: left;
}

footer p {
  float: right;
  font-size: 14px;
  color: #CCC9CA;
  font-weight: 700;
}








/* MEDIA */



@media (max-width: 600px) {

  /* .hero h2 {
    font-size: 32px;
    margin-bottom: 5px;
  }

  .hero {
    padding-top: 80px;
    padding-bottom: 80px;
  } */


  .shop div {
   	float: none;
    width: auto;
    padding: 30px 30px 40px 30px;
	}

  .shop p {
    display: none;
  }

}

@media (max-width: 430px) {

  footer {
    padding: 30px 20px;
  }
}



@media (min-width: 820px) {

}

@media (min-width: 600px) {
  .shop {
 		/* display: flex;
  	flex-wrap: wrap; */
  }
}
